

#transitmap {
    width: 100%;
    height: 500px;
}

.container-fluid {
	height: 50px;
	background-color: #507acc;
	/*opacity: 0.5;*/
}

.navbar-brand {
    height: 15px;
    color: #ffff00;
    font-size: 26px;
}

p {
	margin-top: 5px;
}

/** {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}*/

.container {
    width: 90%;
    margin-bottom: 10px;
}

hr {
    margin-bottom: 5px;
    margin-top: 0px;

}

em {
	color: #507acc;
}

.thankyou {
    margin-top: 10%;
}

.col-sm-10{
    padding-left: 30px;
}

label {
    font-size: 115%;
}

p {
    font-size: 125%;
}

.center {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;

}

body {
    background-color: #fffff7;

}

@font-face {
    font-family: DFont;
    src: url(DFont/OpenDyslexicAlta-Regular.otf);
    font-color: #191919;
}

* {
    font-family: Dfont;
}

#tag {
    margin-top: 10px;
    font-size: 125%;
    color: white;
}