{% extends 'base.html' %}

{% block head %}
 
{% endblock %}

{% block content %}

<div class="jumbotron">

    <div class="container">
        <div class="row row-centered">
            <div class="col-xs-12 col-centered">
                <h3>
                    <center>404 - How did you get here? </center>
                </h3>
                <p> 
                    <center>Since you like to explore, check out these adventures: </center>
                </p>
                <a href="https://www.youtube.com/channel/UCmAIHsNUyAzJ6FQMdU5jdRw">
                    <img class="center-block" alt="DevelopHerDevelopHim Logo" src="/static/img/develophh.png">
                </a>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}