{% extends 'base.html' %}

{% block head %}
 
{% endblock %}

{% block content %}

<div class="jumbotron">

    <div class="container">
        <div class="row row-centered">
            <div class="col-xs-12 col-centered">
                <h3>
                    <center>500 - Server is currently going through a tunnel </center>
                </h3>
                <img class="center-block" src="/static/img/500.jpg" width="40%">
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}