<!doctype html>
<html>
    <head>
      <title>Rideminder</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="/static/css/styling.css">
      <link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    {% block head %} Jazzy stuff here please {% endblock %}
    </head>

<body>
    <div class="container-fluid">
        <p class="navbar-brand">Rideminder</p>
        <p class="navbar-brand" id="tag"> Never miss your stop again </p>
      </div>
    </div><!-- /.container-fluid -->



  <hr>

  {% block content %} Shmagoo. put your content here {% endblock %}


</body>
    <div class="container-fluid footer center">
        <p class="navbar-brand mar center">Created by: <a href="https://chatasweetie.wordpress.com/about-me/">Jessica Dene Earley</a>   <a href="https://chatasweetie.wordpress.com/">Blog</a>   <a href="https://www.linkedin.com/in/jessicaearley">Linkedin</a></p>
      </div>
    </div><!-- /.container-fluid -->

</html>