<!doctype html>
<html>
    <head>
      <title>Rideminder</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://use.fontawesome.com/a0472c1a10.js"></script>
      <link rel="stylesheet" type="text/css" href="/static/css/styling.css">
      <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    {% block head %} Jazzy stuff here please {% endblock %}
    </head>

<body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-2">
          <a href="/"> 
            <img alt="Rideminder Logo" src="/static/img/Rideminder.png">
          </a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <p class="navbar-brand" id="tag">Never miss your stop</p>
        </div>
      </div>
    </div><!-- /.container-fluid -->



  <hr>
 <div id="loadinggif"></div>
 <div id="extending">
    {% for flash in get_flashed_messages() %}
      <div class="alert alert-danger" style="width:90%; margin:0 auto;">{{ flash }}</div>
    {% endfor %}
  {% block content %} Shmagoo. put your content here {% endblock %}


</body>
    <div class="container-fluid footer center footer-padding">
        <p class="navbar-brand mar center">
          Created by: <a href="https://chatasweetie.com/about-me/">Jessica Dene Earley</a>
        </p>
        <p> 
          <a href="https://www.linkedin.com/in/jessicaearley">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
          <a href="https://twitter.com/chatasweetie">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/chatasweetie">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
          <a href="http://google.com/+JessicaEarleyChatasweetie">
            <i class="fa fa-google-plus-square" aria-hidden="true"></i>
          </a>
          <a href="https://www.youtube.com/channel/UCmAIHsNUyAzJ6FQMdU5jdRw">
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
          </a>
          <a href="https://www.facebook.com/jessica.d.earley">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
          </a>   
        </p>
        <a href="https://chatasweetie.com/"> 
          <img class="chata" alt="Chatasweetie Logo" src="/static/img/chatasweetie.png">
        </a>  
      </div>
    </div><!-- /.container-fluid -->

</html>