<!doctype html>
<html>
    <head>
      <title>Transit Alert</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/styling.css">
    {% block head %} Jazzy stuff here please {% endblock %}
    </head>

<body>
    <div class="container-fluid">
        <p class="navbar-brand">Transit Alert</p>
      </div>
    </div><!-- /.container-fluid -->



  <hr>

  {% block content %} Shmagoo. put your content here {% endblock %}


</body>
</html>