{% extends 'base.html' %}
{% block head %}
  <script src="http://maps.google.com/maps/api/js"></script>
{% endblock %}

{% block content %}

 <div clase="row backgroundyellow">
  <div class="container">
  	<h1> Frequently Asked Questions </h1>
  	<h3> Let me know if you need additional support</h3>
	
	When and How to use
		when you are at a transit stop, go to the website and complete the form with your phone number, transit line, direction and desired stop. Optionally, you can add your name and email.
	Can I do a transferring trip (ex. go from N line to the 38) on one submtion?
		No, at the moment, you'll need to do each transit line seperately.
	When do I get a text?
		On average you'll get a text between 1/2 mile to 3 blocks prior to your destination.


  </div>  <!-- ends container -->
</div> <!-- ends row -->

{% endblock %}