{% extends 'base.html' %}
{% block head %}
  <script src="http://maps.google.com/maps/api/js"></script>

{% endblock %}

{% block content %}

  <div clase="row backgroundyellow">
  <div class="container">
    <p>While you're at a transit stop, submit your transit line and stop information and you'll be notified either when your transit vehicle is within 4 block or within 1 min of when Google estimates your arrival time of your destination via text message.<b><em> * Required for processing </b></em> </p>
  </div>
  <div class="container">
    <form id="request" class="col-sm-2 control-label" action="/thank-you" method="POST">
      <div class="form-group">
        <label for="fname"> Name
        <input type="text" class="form-control" name="fname" placeholder="optional"></label>
      </div>
<!--       <div class="form-group">
        <label for="email">Email
        <input type="email" class="form-control" name="email" placeholder="optional"></label>
      </div> -->
      <div class="form-group">
        <label for="phone"><em>Phone Number*</em>
        <!-- http://bootstrapformhelpers.com/phone/ -->
        <input type="text" class="form-control bfh-phone" value="(555)555-5555" data-format="+1 (ddd) ddd-dddd" name="phone"></label>
      </div>
       <div class="form-group">
        <label for="agency"><em>Agency*</em>
          <select class="form-control" id="agency" name="agency">
            {% for agency in agencies %}
            <option>{{ agency.name }}</option>
            {% endfor %}
          </select></label>
        </div>


      <div class="form-group" id="route">
        <label for="route"><em>Route*</em><select class="form-control" id="route-options" name="route">
          {% for route in routes %}
            <option>{{ route.name }}</option>
            {% endfor %}
        </select></label>
      </div>
      <div class="form-group">
        <label for="bound"><em>Direction*</em>
          <select class="form-control" id="bound" name="bound">
            <option value="I">Inbound</option>
            <option value="O">Outbound</option>
          </select></label>
      </div>
      <div class="form-group">
        <label for="destination"><em>Available Stops*</em>
          <select class="form-control"name="destination" id="stops">
            <!-- this is where $ and Ajax adds the stop options -->
          </select></label>
      </div>
      <!-- class="hidden" -->
      <!-- this is to get the user's lat and lng -->
      <div class="hidden">
        <label for="lat">
          <select name="lat" id="lat">
          </select></label>
      </div>
      <div class="hidden">
        <label for="lng">
          <select name="lng" id="lng">
          </select></label>
      </div> <!-- end of hidden -->
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <div class="col-sm-10">
      <div id="transitmap">
        
      </div>

      <!-- my map lives here -->
    </div> <!-- closes form -->
  </div> <!-- closes container -->
</div> <!-- closes row -->

</div>


<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/javascript/scripts.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript">
alert("Disclaimer: At times, the muni data may be unreliable, this site is currently in alpha testing");
</script>


{% endblock %}