{% extends 'base.html' %}
{% block head %}
  <script src="http://maps.google.com/maps/api/js"></script>

{% endblock %}

{% block content %}

  <div clase="row backgroundyellow">
  <div class="container">
    <p>While you're at a transit stop, submit your transit, route and stop information and you'll be notified when your transit vehicle is within 2 mins of your destination via text message.
      <b><em> * Required for processing </b></em> 
    </p>
  </div>
  <div class="container">
    <form id="request" class="col-sm-2 control-label" action="/thank-you" method="POST">

      <div class="form-group">
        <label for="name"> Name
        <input type="text" class="form-control" name="name" placeholder="optional"></label>
      </div>

      <div class="form-group">
        <label for="phone"><em>Phone Number*</em>
        <!-- http://bootstrapformhelpers.com/phone/ -->
        <input type="text" class="form-control bfh-phone" value="(555)555-5555" data-format="+1 (ddd) ddd-dddd" name="phone"></label>
      </div>
       <div class="form-group">
        <label for="agency"><em>Agency*</em>
          <select class="form-control" id="agency" name="agency">
            <option value= None>SELECT AGENCY</option>
            {% for agency in agencies %}
            <option>{{ agency.name }}</option>
            {% endfor %}
          </select></label>
        </div>


      <div class="form-group" id="route">
        <label for="route"><em>Route & Direction*</em><select class="form-control" id="route-options" name="route">
          <option value= None>SELECT ROUTE</option>
        </select></label>
      </div>

      <div class="form-group" id="stop">
        <label for="stop"><em>Your Stop*</em><select class="form-control" id="user-stop-options" name="user_stop">
          <option value= None>YOUR CURRENT STOP</option>
        </select></label>
      </div>

      <div class="form-group" id="stop">
        <label for="stop"><em>Destination Stops*</em><select class="form-control" id="destination-stop-options" name="destination_stop">
          <option value= None>SELECT STOP</option>
        </select></label>
      </div>
      
      <!-- class="hidden" -->
      <!-- this is to get the user's lat and lng -->
      <div class="hidden">
        <label for="lat">
          <select name="lat" id="lat">
          </select></label>
      </div>
      <div class="hidden">
        <label for="lng">
          <select name="lng" id="lng">
          </select></label>
      </div> <!-- end of hidden -->
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <div class="col-sm-10">
      <div id="transitmap">
        
      </div>

      <!-- my map lives here -->
    </div> <!-- closes form -->
  </div> <!-- closes container -->
</div> <!-- closes row -->

</div>


<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/javascript/scripts.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript">
alert("Disclaimer: At times, the muni data may be unreliable, this site is currently in alpha testing");
</script>


{% endblock %}