{% extends 'base.html' %}
{% block head %}
  <script src="http://maps.google.com/maps/api/js"></script>

{% endblock %}

{% block content %}

<div class="row">
  <div clase="row">
  <div class="container">
    <p> Awesome_Name is a messaging system that will notify user when their transit vehicle is within three blocks of their destination via text message.<b><em> * Required for processsing </b></em> </p>
  </div>
  <div class="container">
    <form class="col-sm-2 control-label" id="transit_request" action="/user_input" method="POST">
      <div class="form-group">
        <label for="fname"> Name</label>
        <input type="text" class="form-control" name="fname" placeholder="optional">
      </div>
<!--       <div class="form-group">
        <label for="lname">Last Name</label>
        <input type="text" class="form-control" name="lname" placeholder="optional">
      </div> -->
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" placeholder="optional">
      </div>
      <div class="form-group">
        <label for="phone"><em>Phone Number*</em></label>
        <!-- http://bootstrapformhelpers.com/phone/ -->
        <input type="text" class="form-control bfh-phone" value="(555)555-5555" data-format="+1 (ddd) ddd-dddd" name="phone">
      </div>
      <div class="form-group">
        <label for="line"><em>Transit Line*</em></label>
          <select class="form-control" id="line" name="line">
            {% for line in list_of_available_lines %}
            <option>{{ line }}</option>
            {% endfor %}
          </select>
      </div>
      <div class="form-group">
        <label for="bound"><em>Direction*</em></label>
          <select class="form-control" id="bound" name="bound">
            <option value="I">Inbound</option>
            <option value="O">Outbound</option>
          </select>
      </div>
      <div class="form-group">
        <label for="destination"><em>Available Stops*</em></label>
          <select class="form-control"name="destination" id="stops">
            <!-- this is where $ and Ajax adds the stop options             -->
          </select>
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <div class="col-sm-10">
      <div id="transitmap">
        
      </div>

      <!-- my map will live here -->
    </div> <!-- closes form -->
  </div> <!-- closes container -->
</div> <!-- closes row -->

</div>


<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/javascript/scripts.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

{% endblock %}