{% extends 'base.html' %}

{% block head %}
 
{% endblock %}

{% block content %}

<div class="row">
	<div clase="row">
  		<div class="container thankyou">
  			<p class="center"> Thank you{% if user_fname %} {{ user_fname }}{% endif %}! </p>
  			<p class="center"> We will text you at {{ user_phone }} when you are within 3 blocks of your destination. </p>
  			<p class="center"> Have a wonderful day! </p>
		</div>
 	</div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 center img"><img src="static/sleepingdog.jpg" alt="Picture of a baby sleeping"> <p class="center"><em>Enjoy your nap<em> </p></div>
</div>

{% endblock %}
